{% if site.media.email %}<a href="mailto:{{ site.media.email }}"><i class="media-icon email"></i></a>{% endif %}
{% if site.media.github %}<a href="https://github.com/{{ site.media.github }}"><i class="media-icon github"></i></a>{% endif %}
{% if site.media.rss %}<a href="{{ site.media.rss | relative_url }}"><i class="media-icon rss"></i></a>{% endif %}
{% if site.media.twitter %}<a href="https://www.twitter.com/{{ site.media.twitter }}"><i class="media-icon twitter"></i></a>{% endif %}
{% if site.media.googleplus %}<a href="https://plus.google.com/{{ site.media.googleplus }}"><i class="media-icon googleplus"></i></a>{% endif %}
